@charset "utf-8";
:root{
  --main-color: #CA7842;
}
body{
  background-color: #393E46;
  overflow-x: hidden;
}
html{
  font-size: 16px;
}
/* 헤더영역 */
header{
  height: 100vh;
  background-image: url(../image/header_bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
header>.slogan{
  width: 70%;
  height: 70%;
  border: 10px solid var(--main-color);
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header>.slogan>h1{
  font-size: 12rem;
  letter-spacing: 2rem;
  margin-bottom: 3rem;
}
header>.slogan>p{
  font-size: 1.5rem;
  letter-spacing: 2px;
}
header>.slogan>h2{
  font-size: 2rem;
  margin-top: 0.5rem;
}
header>.slogan>h2::after{
  content: '';
  display: block;
  width: 70%;
  margin: 1rem auto;
  height: 5px;
  background-color: #eee;
}


/* 메인영역 */
main{
  width: 70%;
  margin: 0 auto;
}

/* 섹션영역 */
section{
  height: 100vh;
}
section h2{
  color: var(--main-color);
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
section h2:after{
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--main-color);
}

/* #어바웃 */
#about{
  display: flex;
  justify-content: center;
  align-items: center;
}
#about>.wrap{
  background-color: #4E6688;
  padding: 0 3rem;
  display: flex;
}
#about>.wrap>.text{
  flex: 1;
  color: #eee;
}
#about>.wrap>.text>p{
  width: 70%;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 2rem 0;
}
#about>.wrap>.text>button{
  outline: none;
  border: 1px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  padding: 1rem;
  margin: 3rem 0;
  cursor: pointer;
}
#about>.wrap>.text>button:hover{
  background-color: var(--main-color);
  color: #eee;
}
#about>.wrap>.img{
  flex: 1;
  position: relative;
}
#about>.wrap>.img>img{
  flex: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
}

/* 라스터 */
#laster>h2{
  letter-spacing: 2px;
  width: 500px;
  margin: 0 auto;
}
#laster>ul{
  margin-top: 5rem;
  display: flex;
  gap: 5rem;
}
#laster>ul>li:nth-child(even){
  position: relative;
  top: 50px;
}
#laster>ul>li>h3{
  color: var(--main-color);
  padding: 1.5rem 0;
  font-size: 1rem;
  letter-spacing: 1px;
}
#laster>ul>li>h3:after{
  content: '';
  display: block;
  height: 3px;
  background-color: var(--main-color);
}
#laster>ul>li>p{
  color: #eee;
  font-size: 1rem;
}
#laster>ul>li>button{
  background-color: transparent;
  color: var(--main-color);
  border: none;
  padding: 1rem 0;
}

/* 컨택트 */
#contact{
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact>.wrap{
  width: 100%;
  display: flex;
  background-color: #4E6688;
}
#contact>.wrap>.img{
  flex: 1;
  position: relative;
}
#contact>.wrap>.img>img{
  position: absolute;
  bottom: 0;
  right: 0;
}
#contact>.wrap>.title{
  flex: 1;
  padding: 0 2rem;
}
#contact>.wrap>.title>*{
  margin: 2rem 0;
}
#contact>.wrap>.title>.input{
  display: flex;
  gap: 1rem;
  color: #eee;
}
#contact>.wrap>.title>.input>label{
  flex: 1;
}
#contact>.wrap>.title>.input>label>span{
  display: block;
  width: 100%;
}
#contact>.wrap>.title>.input>label>input{
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #eee;
}
#contact>.wrap>.title>.msg>label{
  display: flex;
  color: #eee;
}
#contact>.wrap>.title>.msg>textarea{
  display: block;
  width: 100%;
  height: 150px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #eee;
}
#contact>.wrap>.title>button{
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 1rem;
}
#contact>.wrap>.title>button:hover{
  background-color: var(--main-color);
  color: #eee;
}

/* 푸터영역 */